<%var data = dataArray[0];%>

<div>
    <h3><%=data.title%></h3>
    <ul>
        <%data.content.forEach(function(element,i){%>

        <li><label><%=i+1%>. <%=element.description%>:</label>
            <label>
              <%for(var k = 0; k < element.items[0]; k++){%>
                <input  type="text" name="<%=element.name%>" >
                <%}%>
            </label></li>

        <%})%>

    </ul>
</div>
