<div>
    <h3>填空题</h3>
    <ul>
        <li><label>1. UML的中文全称是:</label><label><input type="text" name="1-1"></label></li>
        <li><label>2. 对象最突出的特征是:</label><label><input type="text" name="1-2">
                <input type="text" name="1-2">
                <input type="text" name="1-2">
            </label>
        </li>
    </ul>
</div>
