<% var data = dataArray[4];%>

<div>
    <h3><%=data.title%></h3>
    <ul>
        <%data.content.forEach(function(element,i){%>
          <li>
              <label><%=i+1%>. <%=element.description%></label>
          </li>
          <textarea cols="40" rows="4" name="<%element.name%>"></textarea>

        <%});%>
    </ul>
</div>
