<% include partials/head.ejs%>

<form action="/" method="post" class="form-inline">

    <% include partials/title.ejs%>

    <% include partials/fill-block.ejs%>

    <% include partials/choose.ejs%>

    <% include partials/multi-choose.ejs%>

    <% include partials/judge.ejs%>

    <% include partials/short-answer.ejs%>

    <button type="button" class="btn btn-primary btn-block"  >提交</button>

</form>


<% include partials/modal.ejs%>
<% include partials/foot.ejs%>
